@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
	font-size: 62.5%;

	& body {
		font-size: 1.5rem;
		line-height: 1.5;
	}
}

html {
	font-family: 'Alata', sans-serif;
}

:--heading {
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.2rem;
}

p {
	text-align: center;
}
