{% if social.networks %}
<ul class="social__list">
{% for item in social.networks %}
	{% set relAttribute = '' %}

	{% if item.rel %}
		{% set relAttribute = ' rel="' + item.rel + '"' %}
	{% endif %}

	{% if item.title %}
		{% set titleAtribute = ' title="' + item.title + '"' %}
	{% endif %}

	<li class="social__item">
		<a href="{{ item.url }}" target="_blank" {{ titleAttribute | safe }}{{ relAttribute | safe }}>
			{% if item.icon %}
				<img src="{{ site.url }}/{{ item.icon }}" />
			{% endif %}
		</a>
	</li>
{% endfor %}
</ul>
{% endif %}
