<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<base href="{{ site.url }}"/>

		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed/feed.xml" />
    <link rel="icon" href="{{ site.faviconPath }}" type="image/png" />

		<link href="{{ '/css/style.css' | url }}" rel="stylesheet" />

		{% include 'partials/global/site-meta-info.njk' %}


  </head>
  <body class="no-js">
		{% include 'partials/global/site-header.njk' %}

		{% block content %}
		{% endblock content %}

		{% include "partials/global/site-footer.njk" %}

		{% block footer %}
		{% endblock footer %}

		<script src="/js/index.js"></script>
  </body>
</html>
