{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary = '' %}

{# Post list content #}
{% set projectListHeading = projectsHeading %}
{% set projectListItems = collections.projectFeed %}

{# Archive link #}
{% set paginationNextText = archiveButtonText %}
{% set paginationNextUrl = '/blog' %}

{% block content %}
	<main id="main-content" tabindex="-1">
		{% include 'partials/components/intro.njk' %}
		<section class="intro-text">
			<div class="inner-wrapper">
				{{ content | safe }}
			</div>
		</section>
		{% include 'partials/components/project-list.njk' %}
	</main>

{% endblock %}
